* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showcase {
  background: url("https://s.udemycdn.com/browse_components/billboard/fallback_banner_image_udlite.jpg")
    no-repeat center/cover;
  height: 450px;
}

.showcase .showcase-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  text-align: center;
  color: #fff;
}

.showcase .showcase-overlay h1 {
  font-size: 36px;
  padding-bottom: 20px;
}
.showcase .showcase-overlay p {
  font-size: 22px;
}

@media (min-width: 768px) {
  .showcase {
    background-position: top;
  }

  .showcase .showcase-overlay h1 {
    font-size: 64px;
  }

  .showcase .showcase-overlay p {
    font-size: 22px;
  }
}
